.project {
  margin-bottom: 15px;
  border-radius: 2rem;
  padding: 1.25rem;

  .project-image {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  .project-body {
    padding: 1.5rem 0;
  }

  .donate {
    margin-top: 10px;
    background-color: #82cf8f;
    border-radius: 20px;
    border-width: 0;
  }

  .project-progress-bar {
    height: 10px;
    background-color: #e6f5e9;
    margin-bottom: 15px;
    .progress-bar {
      background-color: #82cf8f;
    }
  }
  .project-heart {
    margin-left: 50px;
    margin-top: 10px;
  }
}
